*{
    margin: 0px;
    padding: 0px;
 }

body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Slab', serif;
}
header{
	height: 400px;
	padding: 20px;
}
#content {
	position: relative;
	z-index: 0;
}
/* TO DO LIST CREATE NEW*/
#createToDoItem{
	width: 300px;
	margin: auto;
	background: #ce6174;
	padding: 20px;
}
.form-title {
	text-align: center;
	font-weight: 900;
	font-family: 'Josefin Slab', serif;
	font-size:24px;
}
form {
	background: cream;
	display:flex;
	flex-flow:column;
	width: 100;
}
label {
	width:100%;
	display:flex;
	justify-content: space-between;
	margin: 1%;
	font-family: 'Josefin Slab', serif;
}
input,textarea,select {
	height: 20px;
	width: 45%;
	border-radius: 0;
	border: none;

	margin: 0; 
	padding: .6rem;
}
textarea {
	height: 30px;
}
input[type="submit"] {
	display:block;
	margin: 4% auto;
	height: 40px;
}
select {
	height:40px;
	width: 52%;
	background: white;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: white;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 5px;
	border: 1px solid #dfdfdf;
}
.formActions {
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
button {
	width: 48%;
	height: 39px;
	border: none;
	margin:3% 0; 
	background: black;
	border: 1px solid white;
	color:white;
}

button:hover {
 background-color: #fff;
  color: black;
  border: 1px solid black;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: pink;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -10;

}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

