#main {width:100%;background:black;}
#displayLibrary {
	background: #f5f5f5;
	width: 85%;
	margin:auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.card {
	height: 300px;
	min-width:24%;
	max-width: 31.333%;
	background: white;
	margin:1%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	text-align: center;
}
form {
	width: 50%;
	margin: auto;
	border: 1px solid #ccc;
	background: white;
	padding: 20px;
	/*display: none;*/
}
.show {display:block;}